* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fce7f3;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    min-height: 100vh;
}

header {
    background-color: #111827;
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


#videoForm {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.1em;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px black;
    height: 50px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    margin-top: 10px;
}

button:hover {
    background-color: black;
}

main {
    flex-grow: 1;
}

h1 {
    color: white;
}

input
{
    color: black;
}